**/Library/
**/Temp/
**/obj/

**/.vscode/
**/.vs

**/Assets/Plugins/*
**/Assets/Plugins.meta

**/Assets/Audio/*
**/Assets/Examples/*
**/Assets/GFX/*
**/Assets/Gizmos/*
**/Assets/SCP_Menu/*
**/Assets/Items/*
**/Assets/GUI_Sprites/*
**/Assets/Head Look Controller/*
**/Assets/Models/*
**/Assets/NavMeshComponents/*
**/Assets/PostProcessing/*
**/Assets/Prefabs/*
**/Assets/Scenes/*
**/Assets/Settings/*
**/Assets/Standard Assets/*
**/Assets/Test/*

**/Assets/Audio.meta
**/Assets/Examples.meta
**/Assets/GFX.meta
**/Assets/Gizmos.meta
**/Assets/GUI_Sprites.meta
**/Assets/Head Look Controller.meta
**/Assets/Models.meta
**/Assets/SCP_Menu.meta
**/Assets/Items.meta
**/Assets/NavMeshComponents.meta
**/Assets/PostProcessing.meta
**/Assets/Prefabs.meta
**/Assets/Scenes.meta
**/Assets/Settings.meta
**/Assets/Standard Assets.meta
**/Assets/Test.meta

*.idea
*.csproj
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*~
*.swp

.vs/
build/*
*.rsp
*.pyc
/Logs
